{% extends "layout.html" %}

{% block styles %}
    <style>
        html,
        body {
            height: 90%;
        }
    </style>
{% endblock %}


{% block content %}

    <main role="main" class="container d-flex h-100">
        <div class="row mx-auto align-items-center">
            <div class="col text-center">
                <h1 class="display-1">Hello!</h1>
                <p class="lead" style="font-size: xx-large;">
                    Welcome to the AI Radiology Assistant. <br>
                    Please click the button below to select an image and get started!
                </p>
                <p class="lead">
                    <a href="{{ url_for('report')}}" class="btn btn-lg btn-secondary">Upload Image</a>
                </p>
            </div>
        </div>
    </main>

{% endblock %}