{% extends "layout.html" %}

{% block styles %}
    <style>
        html,
        body {
            height: 90%;
        }
    </style>
{% endblock %}

{% block content %}

    <main role="main" class="container d-flex h-100">
        <div class="row mx-auto h100">
            <div class="col my-auto">
                <div class="card border-info mb-3">
				<div class="card w-80">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('login')}}">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Register</a>
                        </li>
                      </ul>
                    </div>
					<div class="card " style="width: 25rem;">
                    <div class="card-body">
                      <form>
                        <div class="input-group mb-3">
						
                          <input type="text" class="form-control" placeholder="First Name" id="nameInput" aria-describedby="nameHelp">
                          <input type="text" class="form-control" placeholder="Last Name" id="nameInput" aria-describedby="nameHelp">
                        </div>
						
                        <div class="input-group mb-3">
                          
                          <input type="text" class="form-control" placeholder="Username" id="loginUsernameInput" aria-describedby="usernameHelp">
                        </div>
                        <div class="input-group mb-3">
                          
                          <input type="email" class="form-control" placeholder="Email Address" id="exampleInputEmail1" aria-describedby="emailHelp">
						  <div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon2">@example.com</span>
							</div>
                        </div>
                        <div class="input-group mb-3">
                          
                          <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1">
                        </div>
                        <div class="input-group mb-3">
                          
                          <input type="password" class="form-control" placeholder="Confirm password" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                      </form>
                    </div>
                  
            </div>
        </div>
    </main>

{% endblock %}
