{% extends "layout_defaultcss.html" %}

{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mt-3">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/sample_xray.jpg')}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Detected Diseases</h5>
                      <p class="card-text">Click any disease to bring up other relevant cases.</p>
                      <p class="card-text"><a href="#", target="_blank">Disease 1</a>, <a href="#", target="_blank">Disease 2</a>, <a href="#", target="_blank">Disease 3</a></p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <h1 class="display-4  text-center">Edit Medical Report</h1>
                <p class="text-center">
                    Please edit and finalize this report.
                </p>
                <form class="mx-4 custom-form">
                    <div class="form-group">
                      <label for="patientNameInput">Patient Name</label>
                      <input type="text" class="form-control" id="patientNameInput" placeholder="Enter Patient Name">
                    </div>
                    <div class="form-group">
                      <label for="doctorNameInput">Doctor's Name</label>
                      <input type="text" class="form-control" id="doctorNameInput" placeholder="Enter Doctor's Name">
                    </div>
                    <div class="form-group">
                        <label for="doctorNameInput">Diseases Present</label>
                        <input type="text" class="form-control" id="diseaseInput" value="Disease 1, Disease 2, Disease 3">
                    </div>
                    <div class="form-group">
                        <label for="additionalInfoText">Enter Additional Details</label>
                        <textarea class="form-control" id="additionalInfoText" rows="3", placeholder="Enter any additional info/comments about the case here."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Report</button>
                  </form>

            </div>
            
        </div>
        
    </main>


{% endblock %}