{% extends "layout.html" %}

{% block styles %}
    <style>
        a.clickable-card,
        a.clickable-card:hover {
            color: inherit;
        }   
    </style>
{% endblock %}


{% block content %}

    <div class="container">
        <h1 class="display-4 mb-4" style="font-size: xx-large;">Showing Search Results for "Disease 1"</h1>

        {% for i in range(10) %}
            <div class="row">
                {% for j in range(10) %}
                    <div class="col">
                        <a href="#" class="clickable-card">

                        <img class="rounded img-fluid mb-4" src="{{ url_for('static', filename='images/sample_xray.jpg')}}">

                        </a>
                    </div>

                {% endfor %}
            </div>

        {% endfor %}

        <nav aria-label="Search Pagination">
            <ul class="pagination my-4">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item" aria-current="page">
                <span class="page-link">
                2
                <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            </ul>
        </nav>

    </div>

{% endblock %}